{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group">
                {% if message %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <h1 class="border-bottom mb-4">Following Posts</h1>
{% for post in posts%}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/user/{{ post.user.id }}">{{ post.user.username }}</a>
                <small class="text-muted">{{ post.created_date.replace(microsecond=0).isoformat(' ') }}</small>
            </div>
            <h2><a class="article-title" href="/post/{{ post.id }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endfor %}
{% endblock %}
